html {
  background-color: black;
}
body {
  margin: 0;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
li {
  padding: 10px;
}
.title-bar-container {
  background-color: rgb(32, 32, 32);
}
.title-img {
  height: 60px;
  width: 120px;
}
.list-container {
  margin: 10px;
}
font {
  display: block;
  padding: 10px;
  left: 0;
}
.button {
  display: block;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
}
.img-btn-container:hover .button {
  opacity: 1;
}
.list-title-container {
  position: relative;
  top: 120px;
}
