.container {
  background-color: black;
}
ul {
  display: flex;
}
li {
  padding: 20px;
  display: block;
}
.title-bar-container {
  background-color: darkgray;
}
.list-container {
  margin: 10px;
}
font {
  display: block;
}
button {
  display: block;
  left: 0;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
}
li:hover button {
  opacity: 1;
}

.title-img {
  height: 50px;
  width: 120px;
}
